@{
    ViewData["Title"] = "Contact";
}
<h2>Contactos</h2>

<address>
    Rua da Avenida<br />
    Lisboa, n.º 1<br />
    <abbr title="Phone">Tel:</abbr>
    255 555 555
</address>

<address>
    <strong>Suporte técnico:</strong> <a href="mailto:Support@example.com">Support@example.com</a>
</address>
