@model SchoolManagement.Web.Models.ChangeElementViewModel

@{
    ViewData["Title"] = "ChangeElement";
}

<h2>Atribuição de disciplinas. Inscrição em turmas</h2>

<h4>Formulário de inscrições</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="ChangeElement">
            <div class="form-group">
                <label asp-for="Status">Tipo de Utilizador</label>&nbsp;
                <input onclick="showClasses('Formador')" type="radio" value="Formador" asp-for="Status" />&nbsp;Formador&nbsp;
                <input onclick="showClasses('Aluno')" type="radio" value="Aluno" asp-for="Status" />&nbsp;Aluno
                <span asp-validation-for="Status" class="text-warning"></span>
            </div>
            <div id="hidden" style="display: none;">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="EmailStudentId" class="control-label"></label>
                    <select asp-for="EmailStudentId" asp-items="Model.EmailStudents" class="form-control"></select>
                    <span asp-validation-for="EmailStudentId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ClassId" class="control-label"></label>
                    <select asp-for="ClassId" asp-items="Model.Class" class="form-control"></select>
                    <span asp-validation-for="ClassId" class="text-danger"></span>
                </div>
            </div>
            <div id="hiddenTeacher" style="display: none;">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="EmailTeacherId" class="control-label"></label>
                    <select asp-for="EmailTeacherId" asp-items="Model.EmailTeachers" class="form-control"></select>
                    <span asp-validation-for="EmailTeacherId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="DisciplineId" class="control-label"></label>
                    <select asp-for="DisciplineId" asp-items="Model.Discipline" class="form-control"></select>
                    <span asp-validation-for="DisciplineId" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Salvar" class="btn btn-default" />
                <a asp-action="ChangeUser" class="btn btn-primary">Voltar</a>
            </div>
            <div class="text-success">@ViewBag.UserMessage</div>
        </form>
    </div>
</div>

@section Scripts{
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    @{ await Html.RenderPartialAsync("_DisplayClassesMenuPartial");}
}