@model SchoolManagement.Web.Models.RegisterNewUserViewModel
@{
    ViewData["Title"] = "Register";
}

<h2>Register New User</h2>

<div class="row">
    <div class="col-md-4 offset-md-4">
        <form asp-action="Register" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly"></div>

            <div class="form-group">
                <label asp-for="Name">Nome</label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-warning"></span>
            </div>

            <div class="form-group">
                <label asp-for="TaxpayerNumber">NIF</label>
                <input asp-for="TaxpayerNumber" class="form-control" />
                <span asp-validation-for="TaxpayerNumber" class="text-warning"></span>
            </div>

            <div class="form-group">
                <label asp-for="Address">Morada</label>
                <input asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-warning"></span>
            </div>

            <div class="form-group">
                <label asp-for="PostalCode">Código Postal</label>
                <input asp-for="PostalCode" class="form-control" />
                <span asp-validation-for="PostalCode" class="text-warning"></span>
            </div>

            <div class="form-group">
                <label asp-for="IBAN">IBAN</label>
                <input asp-for="IBAN" class="form-control" />
                <span asp-validation-for="IBAN" class="text-warning"></span>
            </div>

            <div class="form-group">
                <label asp-for="BirthDate">Data Nascimento</label>
                <input asp-for="BirthDate" class="form-control" />
                <span asp-validation-for="BirthDate" class="text-warning"></span>
            </div>

            <div class="form-group">
                <label asp-for="Gender">Género</label>
                <input type="radio" value="Masculino" asp-for="Gender" />Masculino
                <input type="radio" value="Feminino" asp-for="Gender" />Feminino
                <input type="radio" value="Outro" asp-for="Gender" />Outro
                <span asp-validation-for="Gender" class="text-warning"></span>
            </div>

            <div class="form-group">
                <label asp-for="Phone">Telefone</label>
                <input asp-for="Phone" class="form-control" />
                <span asp-validation-for="Phone" class="text-warning"></span>
            </div>

            <div class="form-group">
                <label asp-for="Username">Username</label>
                <input asp-for="Username" class="form-control" />
                <span asp-validation-for="Username" class="text-warning"></span>
            </div>

            <div class="form-group">
                <label asp-for="Photo" class="control-label"></label>
                <input asp-for="Photo" class="form-control" type="file" />
                <span asp-validation-for="Photo" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Status">Tipo de Utilizador</label>
                <input onclick="showClasses('Admin')" type="radio" value="Administrativo" asp-for="Status" />Administrativo
                <input onclick="showClasses('Formador')" id="teacher" type="radio" value="Formador" asp-for="Status" />Formador
                <input onclick="showClasses('Aluno')" id="student" type="radio" value="Aluno" asp-for="Status" />Aluno
                <span asp-validation-for="Status" class="text-warning"></span>
            </div>

                <div id="hidden" style="display: none;">
                    <div class="form-group">
                        <label asp-for="ClassId" class="control-label"></label>
                        <select asp-for="ClassId" asp-items="Model.Class" class="form-control"></select>
                        <span asp-validation-for="ClassId" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group">
                    <input type="submit" value="Registar novo utilizador" class="btn btn-primary" />
                </div>
</form>
    </div>
</div>

@section Scripts{
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    @{ await Html.RenderPartialAsync("_DisplayClassesMenuPartial");}
}